<footer>
    <div class="container-fluid wrap">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <ul class="list-inline">
                    <li><a data-placement="top" title="Please note: If you click this link, you will be leaving the Elanco website, social.onehealthsummit.com. Different privacy policies and/or terms and conditions may apply." target="_blank" href=" https://www.elanco.com/terms.aspx">Terms of Use</a></li>
                    <li><a data-placement="top" title="Please note: If you click this link, you will be leaving the Elanco website, social.onehealthsummit.com. Different privacy policies and/or terms and conditions may apply." target="_blank" href="https://www.elanco.com/privacy.aspx">Privacy Statement</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 text-right">
                <a class="logo" href="/"><img src="resources/img/elanco-logo.png" alt=""></a>
                <p>© 2016 Elanco, All rights reserved<br>
                [[*zinc-number]]</p>
            </div>
        </div>
    </div>
</footer