<section class="hero" style="background-image:url('[[*header_image:is=``:then=`/resources/img/default.jpg`:else=`[[*header_image]]`]]')">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-xs-12 text-center">
				<img class="logo" src="[[*logo:is=``:then=`/resources/img/elanco-logo.png`:else=`[[*logo]]`]]" alt="">
				[[*lead-in]]
			</div>
		</div>
	</div>
</section>