
[[!FormIt?
&hooks=`spam, email,FormItSaveForm`
&formName=`Quote`
&emailFrom=`[[#1.tv.primary-email]]` 
&emailTpl=`snt_from_quote`
&submitVar=`quote`
&emailTo=`justin.lobaito@weloideas.com,[[#1.tv.primary-email]]`
&emailSubject=`Free Quote Request - [[++site_name]]`
&validate=`quote_phone:required,  quote_first_name:required, quote_last_name:required, quote_city:required, quote_address:required, quote_email:required, quote_email:email, quote_comments:required:stripTags, quote_nospam:blank`
&successMessage=`<div class="row"><div class="col-xs-12"><div class="alert alert-success">
 <button type="button" class="close" data-dismiss="alert">&times;</button>
 <h3>Thank you for getting in contact with us.</h3>
 <p>A [[++site_name]] representative will get in contact with you shortly</p>
</div></div></div>
<script>
$(document).ready(function(){
    $('#quote').modal({
    show:true,
})
})
</script>`
]]



<div class="modal fade" id="quote">
  <div class="header">
    <h2>Request a free quote</h2>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>

<div class="modal-body">
    
  <form action="" class="main-form" action="[[~[[*id]]]]" method="post" >
    <div class="container-fluid">
        [[!+fi.successMessage]]
        [[!+fi.validation_error_message:!empty=`
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <div>
                    <strong><h3>Please review the following errors:</h3></strong>
                    [[!+fi.error.quote_first_name:!empty=`<p>First Name is required</p>`]]
                    [[!+fi.error.quote_last_name:!empty=`<p>Last Name is required</p>`]]
                    [[!+fi.error.quote_email:!empty=`<p>Email Address is required</p>`]]
                    [[!+fi.error.phone:!empty=`<p>Phone Number is required</p>`]]
                    [[!+fi.error.quote_comments:!empty=`<p>Please describe your project</p>`]]

                </div>
            </div>
            <script>
$(document).ready(function(){
    $('#quote').modal({
    show:true,
})
})
</script>
            `]]
        <div class="row">
            <div class="col-xs-12 col-sm-6"><label for="quote_first_name">First Name</label>
                <input type="text" value="[[!+fi.quote_first_name]]" id="quote_first_name" name="quote_first_name"  placeholder="Jonathan">
            </div>
            <div class="col-xs-12 col-sm-6"><label for="quote_last_name">Last Name</label>
                <input type="text" value="[[!+fi.quote_last_name]]" id="quote_last_name" name="quote_last_name"  placeholder="Doe">

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <label for="quote_email">Email</label>
                <input type="text" value="[[!+fi.quote_email]]" id="quote_email" name="quote_email"   placeholder="jon@doe.com">
            </div>
            <div class="col-xs-12 col-sm-6">
                <label for="quote_phone">Phone</label>
                <input type="tel" value="[[!+fi.quote_phone]]" id="quote_phone" name="quote_phone"   placeholder="999-999-9999">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                
                <label for="quote_address">Street Address</label>
                <input type="text" value="[[!+fi.quote_address]]" id="quote_address" name="quote_address"  >
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12">

                <label for="quote_city">City<sup>*</sup></label>
                <input value="[[!+fi.quote_city]]" type="text" id="quote_city" name="quote_city"  >
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input value="[[!+fi.quote_nospam]]" type="text" id="nospam" name="nospam" class="nospam">

        <label for="quote_comments">Briefly Describe the Project</label>
        <textarea value="[[!+fi.quote_comments]]" id="quote_comments" name="quote_comments"></textarea>
        <input type="submit" class="btn btn-lg btn-hello" name="quote" value="Request Quote">
            </div>
        </div>
        
    </div>
</form>
</div>
</div>


