<section class="product-block no-guter">
	<div class="container-fluid">
		<div class="row ">
			
			
			<div class="col-xs-12 col-sm-8 col-sm-push-4">
				<img src="[[+large-image:phpthumbof=`w=800&h=600&zc=1`]]" alt="[[+large-image]]">
			</div>
			<div class="col-xs-12 col-sm-4 col-sm-pull-8">
				<div class="col-xs-6 col-sm-12"><img src="[[+small-image-1:phpthumbof=`w=800&h=600&zc=1`]]" alt=""></div>
				<div class="col-xs-6 col-sm-12"><img src="[[+small-image-2:phpthumbof=`w=800&h=600&zc=1`]]" alt=""></div>
			</div>
				
		</div>
	</div>
</section>