<div class="[[!getImageList? &docid=`[[+id]]`&tvname=`topic` &tpl=`topic`]] [[#[[+file-type]].pagetitle:replace=` ==-`:lcase]] col-xs-12 col-sm-6 col-md-4 mix" >
<div class="download-item">
	<div class="image-contain">
		<div class="file-type">
			<i class="fa fa-[[#[[+file-type]].pagetitle:lcase:replace=`video==play`]]"></i>
		</div>
		<img src="[[+preview-image:is=``:then=`/resources/img/no-preview.png`:else=`[[+preview-image:phpthumbof=`w=700&h=400&zc=1`]]`]]" alt="">
	</div>
	<div class="content-contain">
		<div class="row">
			<div class="col-xs-12">
				<h3>[[+pagetitle]] <span>[[+date:isequal=``:then=`[[+createdon::strtotime:date=`%B %e, %Y`]]`:else=`[[+date:strtotime:date=`%B %e, %Y`]]`]]</span></h3>
				[[+researchers:isequal=``:then=``:else=`<p><strong>Researchers:</strong> [[+researchers]]</p>`]]
				[[+product:isequal=``:then=``:else=`<p><strong>Product:</strong> [[+product]]</p>`]]
				[[+indications:isequal=``:then=``:else=`<p><strong>Indications:</strong> [[+indications]]</p>`]]
				[[+disease-state:isequal=``:then=``:else=`<p><strong>Disease State:</strong> [[+disease-state]]</p>`]]
				[[+country:isequal=``:then=``:else=`<p><strong>Country:</strong> [[+country]]</p>`]]

			</div>
		</div>
	</div>
		<div class="row meta">
			<div class="col-xs-12 ">
				<a href="[[+resource]]" class="download" target="_blank" class="download">Download</a>
			</div>
		</div>
</div>
</div>