<li>
	<a data-largesrc="[[!+image:phpthumbof=`w=300&h=300&zc=1&f=png&fltr[]=ric|150|150`]]" data-title="[[!+name]]" data-job="[[!+position]]" data-description="[[!+bio]]">
			<img src="[[!+image:phpthumbof=`w=200&h=200&zc=1&f=png&fltr[]=ric|100|100`]]" alt=""/>
			<p class="name">[[!+name]]<br>
				<span>[[!+position]]</span></p>
	</a>
</li>