* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.cf {
  &:before,&:after {
    content: " "; 
    display: table; 
  }
  &:after {
    clear: both;
  }
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */

section {
  @extend .cf !optional;
  padding:2em;
    
}

.wrap {
  max-width: 940px;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}

#container .mix{
  display: none;
}


.flex-parent {
  display: flex;
  flex-wrap: wrap;
}


/* FOOTER */

footer {
  background:#dddcdc;
  padding:2em;
  @include viewport(md){
    padding:4em 0;
  }
  a,a:visited {
    color:$neutral;
    font-size: 18px;
  }

  .logo {
    display: inline-block;
    max-width:150px;
    margin-bottom: 1em;
    img {
      width:100%;
    }
  }
}

/* Main Styling */

.hero {
  padding:14em 4em;
  background-size: cover;
  h1 {
    font-size: 70px;
    font-style: italic;
  }
  * {
    color:white;
    text-shadow: 0 1px 5px black, 0 0 2px black;
  }
  .logo {
    margin-bottom: 2em;
    max-width:500px;
  }
  p {
    font-size: 24px;
    font-style: italic;
    line-height: 1.2;
  }
}

.content,.hero {
  .wrap {
    max-width:800px;
    margin:auto;
    text-align: center;
  }
}

.content {
    @include viewport(sm){
    padding:5em 2em;
  }
  background:$light;

}


.download {
  
  text-align: center;
  color:$primary;
  width:100%;
  display: inline-block;
  padding:20px;
  font-size: 18px;
  border-top:solid 1px $light;
  &:hover {
    background:$secondary;
    border-color:$secondary;
    color:white;
     &:visited,&:active {
      color:white;
    }
  }
  &:visited,&:active {
    color:$primary;
  }
}
.downloads {
  padding: 0 2em;
  .filter-row {
    padding:4em 15px 4em 15px
  }
  .download-items {
    padding-bottom:4em;
  }
  .download-item {
    border:solid 1px $light;
    margin-bottom:15px;
    margin-top:15px;
    h3 {
      width:100%;
      span {
        font-family: $body;
        font-size: 12px;
        color:$primary;
        float:right;
        font-style: italic;
      }
    }
    .file-type {
      position: absolute;
      background:$secondary;
      padding: 59px 21px 92px 35px;
      top: -57px;
      left: -33px;
      font-size: 18px;
      transform:rotate(45deg);
      i{
        color:white;
        transform:rotate(-45deg);
        position: relative;
        left: 5px;
      }
    }
    p {
      margin:0;
    }
    .meta {
      margin-top:15px;
    }

    .content-contain {
      padding:15px;
    }
  }

  .image-contain {
    position: relative;
    overflow:hidden;
    img {
      width:100%;
    }
  }
}


/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}


/* Responsive Video Embeds */
.video-container {
    position: relative;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    iframe {
       position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}