body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $secondary;
  margin: 0 0 1em 0;
}

h1 {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
}

/* PARAGRAPH */

p,li {
  font-family: $body;
  font-size: 14px;
  color:$primary;
}

p {
  line-height: 1.4;
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color:$link;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}

.button {
  
}

.filter {
  padding:1em 2em !important;
  border:solid 1px $secondary;
  color:$secondary;
  margin-right:2em;
  @include transition(.3s all);
  cursor:pointer;
  width:150px;
  text-align: center;
  &:last-child {
    margin-right: 0;
  }
  &.active,&:hover {
    background:$secondary;
    color:white;
  }
}

#Reset {
  @include transition(.3s all);
  cursor:pointer;
  font-size: 18px;
  &:hover {
    color:$red;
  }
}