// COLOR PALETTE
$primary: #004267;
$secondary: #0072ce;
$hover: #505050;
$neutral: #707071;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: $secondary;
$light:#e2e2e2;
$red:#cd3325;
//Dropshadows

$drop-shadow-hover: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$drop-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$drop-shadow2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$drop-shadow3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$drop-shadow4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$drop-shadow5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

// FONT STACKS
$heading: "fira-sans", sans-serif;
$body: "adelle",serif;

