[[$doc_head]]
<body class="interior">
<!-- 	[[$navigation]] -->
	[[$header]]
	<section class="content">
		<div class="container-fluid wrap">
			<div class="row">
				<div class="col-xs-12">
					[[*content]]
				</div>
			</div>
		</div>
	</section>
	<section class="downloads">
		<div class="container-fluid">
			<div class="row">
				<div class="filter-row">
					<div class="col-xs-12 col-sm-10 ">
							<form action="" id="Filters">
								<div class="topic-filters row">
									<div class="col-xs-12 col-sm-2">
										<h2>Topic Filters</h2>
									</div>
									<div class="col-xs-12 col-sm-10 fieldset">
										<ul class="list-inline">
											[[!getResources?
											  &parents=`7`
											  &tpl=`topic-filters`
											  &showHidden=`1`
											  &showUnpublished=`1`
											  &limit=`0`
											  &includeTVs=`1`
											  &processTVs=`1`
											  &tvPrefix=``
											]]
										</ul>
										
									</div>

								</div>
								<div class="row file-filters">
									<div class="col-xs-12 col-sm-2">
										<h2>File Type</h2>
									</div>
									<div class="col-xs-12 col-sm-10 fieldset">
										<ul class="list-inline">
											[[!getResources?
											  &parents=`11`
											  &tpl=`topic-filters`
											  &showHidden=`1`
											  &showUnpublished=`1`
											  &limit=`0`
											  &includeTVs=`1`
											  &processTVs=`1`
											  &tvPrefix=``
											  &depth=`0`
											]]
										</ul>
									</div>
								</div>
							</form>
					</div>
					<div class="col-xs-12 col-sm-2">
						<span id="Reset"><i class="fa fa-times"></i>  Clear Filters</span>
					</div>
				</div>
				<div class="col-xs-12 download-items">
					<div class="row flex-parent" id="container">
							[[!getResources?
							  &parents=`11`
							  &tpl=`download`
							  &showHidden=`1`
							  &showUnpublished=`1`
							  &where=`{"template:IN":[14]}`
							  &limit=`0`
							  &includeTVs=`1`
							  &processTVs=`1`
							  &tvPrefix=``
							]]
					</div>
					
				</div>
			</div>
		</div>
	</section>
	[[$footer]]
	[[$doc_footer]]